<POETerminal>
  <COM>COM8</COM>
  <LOG>L:\solar.pst69.homeip.net\test.xml</LOG>
  <net>
    <node id="1" name="0051">
      <analog node="1" id="1" />
      <analog node="1" id="2" />
      <analog node="1" id="3" />
      <analog node="1" id="4" />
      <digital node="1" id="1" />
      <digital node="1" id="2" />
      <switch node="1" id="1" />
      <switch node="1" id="2" />
      <pwm node="1" id="1" />
    </node>
  </net>
</POETerminal>